* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}


.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 6fr 1fr;
}

.top-display {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    background-color: yellow;
    height: 450px;
    width: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

#zero, #one, #three, #four, #six, #seven {
    border-right: solid black 4px;
}

#zero, #one, #two, #three, #four, #five {
    border-bottom: solid black 4px;
}

.announcements {
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-reset {
    flex-grow: 1;
    background-color: gray;
    border-right: solid black 2px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-game {
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding: 5px;
}

.game-announcements {
    flex-grow: 4;
    background-color: orange;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}